<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setu</title>
</head>
<style>
    * {
    margin: 0;
    padding: 0;
    }
    div {
        height: 100%;
        width: 100%;
        background: cornsilk;
        text-align: center;
    }
</style>
<body>
    <div>
        <img id="setu" src="{{ link }}" referrerPolicy="no-referrer">
    </div>
</body>
{#<script>#}
{#    let link = '{{ link }}'#}
{#    document.getElementById("setu").src=link;#}
{#</script>#}
</html>